*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ff-: 'Epilogue';

    --bg-back-: hsl(var(--hue), 22%,20%);

    --hue: 250;

    --fonts-color-: hsl(var(--hue), 0%, 100%);
    --font-color-header: hsl(var(--hue), 50%, 80%);

    font-size: 62.5%;
}
body{
    font-family: var(--ff-);

    background-color: var(--bg-back-);

    color: var(--fonts-color-);
}
.page{
    max-width: 33rem;

    margin: 0 auto;
}

header{
    margin: 10rem 0 8rem;

    text-align: center;

    animation: top 700ms ease-in-out;
}
header p{
    color: var(--font-color-header);

    font-family: var(--ff-);

    text-transform: uppercase;

    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

    margin-bottom: 1.7rem;
}
header h1{
    font-family: var(--ff-);

    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;
}
main{
    display: grid;
    gap: 3.2rem;

    margin-bottom: 10.5rem;
}
main span{
    color: var(--fonts-color-span);

}
img{
    width: 100%;
    height: auto;
}
.card{
    position: relative;

    font-family: var(--ff-);

    cursor: pointer;

    animation: down 700ms ease-in-out reverse;
}
.card img:hover{
    transform: scale(1.1);

    filter: brightness(1);
}
.card img{
    height: 41.6rem;
    object-fit: cover;

    border-radius: 0.6rem;

    transition-property: all;
    transition-duration: 600ms;


    filter: brightness(0.8);
}
.card h2{
    position: absolute;

    bottom: 5.2rem;
    left: 2.8rem;

    font-weight: 800;
    font-size: 4rem;
    line-height: 4.8rem;

    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}
.card h2 span{
    border-radius: 2rem;

    padding: 0 1.6rem;

    height: 3.8rem;

    background-color: var(--fonts-color-);

    font-size: 1.6rem;
    line-height: 3.2rem;
    font-weight: 40rem;

    display: inline-flex;
    align-items: center;

    width: fit-content;

    color: #090039;
}


@keyframes top{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down{
    100%{
        opacity: 0;
        transform: translateY(15px);
    }
}

@media (min-width: 700px){
    .page{
    max-width: 117rem;

    padding: 0 5rem;
    }
    header h1{
    font-size: 5.6rem;
    font-family: 'Epilogue';
    font-weight: 800;
    line-height: 6.4rem;
    letter-spacing: -0.1rem;
    }
    main{
        grid-template-areas: "A B B"
        "C C D";
    }
    main div:nth-child(1){
        grid-area: A;
    }
    main div:nth-child(2){
        grid-area: B;
    }
    main div:nth-child(3){
        grid-area: C;
    }
    main div:nth-child(4){
        grid-area: D;
    }
}
